In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("Raw Sales Data.csv")
print(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB
None

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
5,01-Dec-20,Marketplace,AMAZON,NONI JUICE 1 L,Juices,874,"4,02,631"
6,01-Dec-20,Marketplace,AMAZON,SLIM SHAKE - CHOCOLATE 500 GM,Functional nutrition,658,"7,58,234"
7,01-Dec-20,Marketplace,AMAZON,SLIM SHAKE - MANGO 500 GM,Functional nutrition,649,"7,15,121"
8,01-Dec-20,Marketplace,AMAZON,TRIPHALA JUICE 1 L,Juices,910,"2,21,417"
9,01-Dec-20,Marketplace,AMAZON,TULSI GILOY JUICE 1 L,Juices,"3,410","11,06,203"

In [4]:
df['Month']=pd.to_datetime(df['Month'])
df['Sales']= df['Sales'].str.replace(",","").astype(float)
df['Qty']= df['Qty'].str.replace(",","").astype(float)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    datetime64[ns]
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    float64
 6   Sales         224 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 12.4+ KB

### 1. Monthwise number of quantities sold

In [8]:
Monthwise_Qty = df.groupby('Month',as_index = False)['Qty'].sum()
Monthwise_Qty

       Month      Qty
0 2020-12-01  85427.0
1 2021-01-01  67732.0
2 2021-02-01  76393.0
3 2021-03-01  80229.0

### 2 Category wise Qty sold

In [9]:
catwise_qty = df.groupby('Category',as_index = False)['Qty'].sum()
catwise_qty

               Category       Qty
0  Functional nutrition   42354.0
1     Gourmet Nutrition   89279.0
2                Juices  178148.0

### 3. Sub-channel wise total sales

In [11]:
Subchannelwise_Sales = df.groupby("Sub-Channels",as_index = False)['Sales'].sum()
Subchannelwise_Sales

         Sub-Channels       Sales
0              AMAZON  35606804.0
1          Big Basket   1207522.0
2                 D2C  28047538.0
3            Flipkart   3770415.0
4               GOQII    582600.0
5   Offline - Central    375332.0
6      Offline - East    811146.0
7        Offline - MT   6257948.0
8     Offline - South   3446395.0
9      Offline - West   6441427.0
10     Offline -North   1206564.0

### 4. Highest sale in which month

In [13]:
Heighest_sale = df.groupby('Month',as_index = False)['Sales'].sum().sort_values('Sales', ascending = False).head(1)
Heighest_sale

       Month       Sales
3 2021-03-01  25127827.0

### 5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [21]:
df_product_sales = pd.DataFrame(df.groupby('Product Name_clean').sum())
df_product_sales.sort_values(by=['Sales'],inplace=True,ascending=False)
df_highest_sales_product = pd.DataFrame(df_product_sales.iloc[0,:]).T
df_highest_sales_product

C:\Users\HP\AppData\Local\Temp\ipykernel_10896\3822594838.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_product_sales = pd.DataFrame(df.groupby('Product Name_clean').sum())

                            Qty       Sales
ALOE + GARCINIA JUICE   23585.0  12249252.0

### 6 List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [15]:
df['Product Name_clean'] = df['Product Name'].apply(lambda x: re.sub("\d+","---",x))
df['Product Name_clean']= df['Product Name_clean'].apply(lambda x: x.split("---")[0])
df.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Product Name_clean
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0,ALOE + AMLA JUICE
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0,ALOE + GARCINIA JUICE
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0,ALOE VERA JUICE
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0,ALOE VERA SKIN GEL
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0,NEEM JUICE

### 7. Create a single excel file to save all the outputs generated above in different subsheets. Email final output file and your python code (.ipynb) file

In [22]:
writer = pd.ExcelWriter("Output_File.xlsx")
Monthwise_Qty.to_excel(writer,sheet_name="monthwise-quantity",index=False)
catwise_qty.to_excel(writer,sheet_name="categorywise-qty",index=False)
Subchannelwise_Sales.to_excel(writer,sheet_name='channelwise-sale',index=False)
Heighest_sale.to_excel(writer, sheet_name="highest-sale",index=False)
df_product_sales.to_excel(writer,sheet_name="hi",index=False)

NameError: name 'df_month_qty' is not defined